<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>RENDERED</title>

    <script src="https://use.typekit.net/kxf0iwn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href="css/styles.css" rel="stylesheet" type="text/css">
<!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.-->
<script>var __adobewebfontsappname__="dreamweaver"</script>
<script src="http://use.edgefonts.net/bebas-neue:n4:default.js" type="text/javascript"></script>

</head>

<body>
	

    <!-- Header Section -->

    <!-- Main Content -->
    <main>

        <!-- Hero -->
		
        <section class="background">
			<div class="hero-content">
                <h2 class="hero-leadin"><span></span></h2>
                <h1 class="hero-title">My star talks</h1>
                
            </div>
			<div class="background"><img src="images/Blue and Pink Blob Futuristic Graphic 1">
            </div>
            
			
            
        </section>

     
        <!-- Intro -->
		<div class="background_1"><img src="images/Blue and Pink Blob Futuristic Graphic Designer Resume.png"></div>
		
        <section class="intro" id="intro">
			
           <!-- Placeholder text -->
            
<div class="intro-text"> </div>            
            
        </section>


        <!-- Artwork -->
        <section class="artworks">

         <article class="artwork artwork-1">
                <div class="artwork-piece">
                    <img src="images/dot-line.png" alt="Girl in a jacket" class="dot dot-line">
                    <figure>
                        <figcaption>
                            <h2 class="artwork-artistName">SKIP1FRAME</h2>
                        </figcaption>
                        <img src="images/the-bitten-moon.jpg">
                    </figure>
                </div>
                <div class="artwork-description">
                
                </div>
            </article>

            <article class="artwork artwork-2">
                <img src="images/dot.png" class="dot dot-1">
                <img src="images/dot.png" class="dot dot-2">
                <div class="artwork-piece">
                    <figure>
                        <figcaption>
                            <h2 class="artwork-artistName">Ana Gomez Bernaus</h2>
                        </figcaption>
                        
                    </figure>
                </div>
                <div class="artwork-description">
                    <img src="images/dot-outline.png" class="dot dot-outline">
                    <img src="images/avatar-text-experiments.png" class="artwork-artistImage">
                    <h2 class="artwork-title">Text Experiments</h2>
                    <p>These experiments with type add kinetic energy to familiar letterforms. Unbound by traditional forms, the text breathes with motion and vibrant color.</p>
                    <a class="seeMore seeMore-black" href="#">See more</a>
                </div>
            </article>

            <article class="artwork artwork-3">
                <div class="artwork-piece">
                    <figure>
                        <img src="images/goldrush.jpg">
                    </figure>
                </div>
                <div class="artwork-description">
                    <img src="images/dot.png" class="dot dot-3">
                    <img src="images/avatar-goldrush.png" class="artwork-artistImage">
                    <h2 class="artwork-title">Goldrush</h2>
                    <p>In a world obsessed with everything golden, these everyday objects shine as if they were made of real gold, from liquid to smoke to melted ice cream.</p>
                    <a class="seeMore" href="#">See more</a>
                </div>
            </article>

        </section>


        <section class="gallery">
            <div class="gallery-items">
                <figure class="gallery-item" style="background-image: url('images/synaptic-strands.jpg');">
                    <figcaption>
                        <h2>Synaptic Strands</h2>
                        <h3>Alex Diaconu</h3>
                    </figcaption>
                </figure>

                <figure class="gallery-item" style="background-image: url('images/oasis.jpg');">
                    <figcaption>
                        <h2>Oasis</h2>
                        <h3>R4dn Studio</h3>
                    </figcaption>
                </figure>

                <figure class="gallery-item" style="background-image: url('images/spiral-12.jpg');">
                    <figcaption >
                        <h2>Spiral 12</h2>
                        <h3>Alex Diaconu</h3>
                    </figcaption>
                </figure>

                <figure class="gallery-item" style="background-image: url('images/colourflow-4.jpg');">
                    <figcaption>
                        <h2>Colourflow</h2>
                        <h3>David McLeod</h3>
                    </figcaption>
                </figure>

                <figure class="gallery-item" style="background-image: url('images/medusa.jpg');">
                    <figcaption>
                        <h2>Revolved<br/>Forms - Medusa</h2>
                        <h3>Črtomir Just</h3>
                    </figcaption>
                </figure>
            </div>
		</section>

    </main>

    <!-- Site Footer -->
    <footer>
        <div class="footer-content">
            <ul class="footer-social">
                <li>
                    <a href="#">
                        <img class="social-default" src="images/social-facebook.png">
                        <img class="social-hover" src="images/social-facebook-hover.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="social-default" src="images/social-pinterest.png">
                        <img class="social-hover" src="images/social-pinterest-hover.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="social-default" src="images/social-twitter.png">
                        <img class="social-hover" src="images/social-twitter-hover.png">
                    </a>
                </li>
            </ul>
            <nav class="footer-nav">
                <ul>
                    <li><a href="index.html">Blog</a></li>
                    <li><a href="http://www.adobe.com">Credits</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Polciy</a></li>
                </ul>
            </nav>
            <div class="footer-subscribe">
                <h2>Subscribe</h2>
                <p>Truly international, consistently intelligent, and hugely influential.</p>
                <input type="email" placeholder="Enter your email"/>
            </div>
            <div class="footer-info">
                <p class="footer-credit">Website design by <a href="#">Serge Vasil</a></p>
                <p class="footer-disclaimer">Any reference to associated logos is for demonstration purposes only and is not intended to refer to any actual organization or event.</p>
                <p class="footer-legal">&copy; 2016 Adobe Systems Incorporated. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script>

        // Site Nav
        $(".site-nav-open").on("click", function(){
            $(".site-nav").show();
        });
        $(".site-nav-close").on("click", function(){
            $(".site-nav").hide();
        });

        // Hero Arrow
        $(".hero-arrow").on("click", function(event){
            event.preventDefault();
            var introPosition = $("#intro").offset().top;
            $('body,html').animate({
                scrollTop: introPosition
            }, 400);
        });

        // Scroll Events
        $(window).on("load resize scroll", function(){
            // Light/Dark Header
            var bodyPosition        = $("body").scrollTop(),
                lightSection1       = $("#intro"),
                lightSection1Top    = lightSection1.offset().top,
                lightSection1Bottom = lightSection1Top + lightSection1.outerHeight(),
                lightSection2       = $(".artwork-2"),
                lightSection2Top    = lightSection2.offset().top,
                lightSection2Bottom = lightSection2Top + lightSection2.outerHeight(),
                lightSection3       = $(".contact"),
                lightSection3Top    = lightSection3.offset().top,
                lightSection3Bottom = lightSection3Top + lightSection3.outerHeight();
            if (
                ( bodyPosition > lightSection1Top && bodyPosition < lightSection1Bottom ) ||
                ( bodyPosition > lightSection2Top && bodyPosition < lightSection2Bottom ) ||
                ( bodyPosition > lightSection3Top && bodyPosition < lightSection3Bottom )
            ) {
                $("header").addClass("dark");
            } else {
                $("header").removeClass("dark");
            }
            // Stamp
            var heroBottom       = $(".hero").outerHeight(),
                stampOffset      = $("#stamp").outerHeight() + 50;
                stampPos         = heroBottom - stampOffset,
                stampChangePoint = ($("#intro").offset().top + $("#intro").outerHeight()) - stampOffset;
            if ( bodyPosition + stampPos >= stampChangePoint)   {
                $("#stamp").removeClass("fixed").css("top", stampChangePoint);
            } else {
                $("#stamp").addClass("fixed").css("top", stampPos);
            }
        });


    </script>

</body>
</html>